@content-width: 1920px;
@header-height: 1024px;
@header-padding-lr: 375px;
@header-margin-top: 40px;
@logo-color-hover: #998675;
@logo-color-active: @logo-color-hover + 20;
@menu-width: 637px;
@menu-padding-top: 22px;
@menu-margin-left: 218px;
@menu-color: #ffffff;
@menu-color-hover: #c7b299;
@menu-color-active: @menu-color-hover + 20;
@cart-and-search-width: 70px;
@cart-and-search-height: 24px;
@slider-padding-top: 285px;
@slider-padding-lr: 150px;
@slider-width: @content-width - 2*@slider-padding-lr;
@slide-width: 600px;
@btn-get-started-width: 170px;
@pagination-bottom: 20px;
@pagination-width: 120px;
@pagination-height: 20px;
@pagination-margin-left: calc(~"50% - "@pagination-width / 2);
@services-link-width: 266px;
@waxom-ideas-text-width: 757px;
@waxom-ideas-bckg-width: 1230px;
@waxom-ideas-bckg-height: 482px;
@text-boxes-height: 150px;
@latest-projects-padding-tb: 80px;
@latest-projects-padding-lr: 375px;
@lp-menu-height: 32px;
@vp-desc: 552px;

@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/montserrat-regular.ttf);
}

@font-face {
  font-family: montserrat-light;
  src: url(../fonts/montserrat/montserrat-light.ttf);
}

@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/raleway-regular.ttf);
}

@font-face {
  font-family: raleway-medium;
  src: url(../fonts/raleway/raleway-medium.ttf);
}

@font-face {
  font-family: raleway-semibold;
  src: url(../fonts/raleway/raleway-semibold.ttf);
}

@font-face {
  font-family: raleway-bold;
  src: url(../fonts/raleway/raleway-bold.ttf);
}

@font-face {
  font-family: raleway-extrabold;
  src: url(../fonts/raleway/raleway-extrabold.ttf);
}

body{
    margin: 0;
}

.content{
    width: @content-width;
    margin: 0 auto;
    border: 1px solid black;
    box-sizing: border-box;
}

header{
    position: relative;
    height: @header-height;
    background-image: url(../img/header-photo.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;    
}

.header{
    margin-top: @header-margin-top;
    padding: 0 @header-padding-lr;
}

.header:after{
    content: "";
    display: block;
    clear: both;
}

.logo{
    width: 181px;
    float: left;
    display: flex;    
    justify-content: space-between;
    align-items: center;    
    text-decoration: none;    
}

.logo-svg{
    fill: #fff;
}

.logo-txt{
    font-family: 'Raleway', sans-serif;
    color:  #ffffff;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}

.logo:hover .logo-svg{
    fill: @logo-color-hover;
    stroke: #fff;
}

.logo:hover .logo-txt{
    color: @logo-color-hover;
}

.logo:active .logo-svg{
    fill: @logo-color-active;
    stroke: #fff;
}

.logo:active .logo-txt{
    color: @logo-color-active;
}

.menu{
    float: left;
    width: @menu-width;
    margin-left: @menu-margin-left;
    padding-top: @menu-padding-top;
}

ul {
    display: flex;
    justify-content: space-between;    
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li a {
    display: block;
    color: white;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif; 
    text-align: center;
    text-decoration: none;
}

ul li a:hover{
    color: @menu-color-hover;
}

ul li a:active{
    color: @menu-color-active;
}

.cart-and-search{
    float: right;    
    width: @cart-and-search-width;
    height: @cart-and-search-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    margin: 0;
}

.cart-and-search-buttons(){
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}

.cart{    
    .cart-and-search-buttons;
    background-image: url(../img/icon-cart.png);    
}

.search{
    .cart-and-search-buttons;
    background-image: url(../img/icon-search.png);
}

.slider{
    padding: @slider-padding-top @slider-padding-lr 0;
    width: @slider-width;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slide{
    display: block;
    width: @slide-width;
    text-align: center;
}

.slide-title(){
    display: block;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.slide > .title-1{
    .slide-title;
    font-size: 36px;
    font-weight: 500;
}

.slide > .title-2{
    .slide-title;
    font-size: 52px;
    font-weight: 800;
}

.slide > p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #ffffff;
    margin: 20px 0 0 0;
}

.btn-section-acion(){
    width: 170px;
    height: 50px;
    border-radius: 3px;
    background-color:  #998675;    
    border-bottom: 3px solid #736356;
    outline: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 23px;    
    text-transform: uppercase;
    line-height: 23px;
}

.btn-get-started{
    .btn-section-acion;
    margin-top: 50px;
}

.btn-get-started:hover {
    color:  #ccc;
    background-color:  #736356;
    border-bottom: 3px solid #998675;
}

.btn-get-started:active{
    color:  #fff;
}

.slider-arrow-left{
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
}

.slider-arrow-left:after{
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(-135deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.slider-arrow-left:hover:after{
    border-top: 2px solid orange;
    border-right: 2px solid orange;
}

.slider-arrow-right{
    display: block;
    width: 40px;
    height: 73px;
    position: relative;
    transform: translateX(34px);
}

.slider-arrow-right:after{
    content: "";
    display: inline-block;
    width: 52px;
    height: 52px;
    border-top: 2px solid #d3c1ad;
    border-right: 2px solid #d3c1ad;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -25px;
}

.slider-arrow-right:hover:after{
    border-top: 2px solid orange;
    border-right: 2px solid orange;
}

.pagination{
    position: absolute;
    bottom: @pagination-bottom;
    width: @pagination-width;
    height: @pagination-height;
    margin-left: @pagination-margin-left;
}

.pagination a {
    display: block;
    width: 11px;
    height: 11px;
    float: left;
    margin: 4px 5px;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: #ccc;
}

.pagination a:hover {
    width: 15px;
    height: 15px;
    margin: 1px 2px;
    border: 2px solid #d3c1ad;
    background-color: transparent;
}

.services{
    min-height: 373px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 378px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.services-link{
    display: block;
    width: @services-link-width;
    text-align: center;
    text-decoration: none;
    color: #555555;
}

.services-link span{
    display: block;
    width: 100%;
    margin: 29px 0 0 0;
    font-family: Raleway;
    font-size: 22px;
    font-weight: 600;
}

.services-link p{    
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #8c8c8c;
    margin: 19px 0 0 0;
}

.services-link::after{
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #555555;
    margin: 30px auto 0;
}

.services-link:hover svg{
  fill: #c7b299;
}

.services-link:hover span{
  color: #c7b299;  
}

.services-link:hover::after{
  background-color: #c7b299;
}

.waxom-ideas{
    height: 700px;
    text-align: center;
    padding: 83px 345px 0;
    box-sizing: border-box;
    background-color: #fbfaf8;
    overflow: hidden;
}

.waxom-ideas-title{
    display: block;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    margin-bottom: 24px;
}

.waxom-ideas-text{
    display: block;
    width: @waxom-ideas-text-width;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #8c8c8c;
    word-wrap: break-word;
    margin: 0 auto 40px;
}

.waxom-ideas-bckg{
    width: @waxom-ideas-bckg-width;
    height: @waxom-ideas-bckg-height;
    position: relative;
    background: url(../img/browser-center.png) top center no-repeat,
        url(../img/browser-left.png) bottom left no-repeat,
        url(../img/browser-right.png) bottom right no-repeat;
}

.text-boxes{
    height: @text-boxes-height;
    display: flex;
    justify-content: space-between;
    padding: 50px 376px;
    box-sizing: border-box;
    background-image: linear-gradient(to right, #211b19, #4e3427);
}

.text-boxes-title{
    margin: 0;
    font-family: Raleway;
    font-size: 28px;
    text-align: left;
    color: #ffffff;
}

.text-boxes-title-first-word{
    color: #998675;
}

.text-boxes-text{
    margin: 8px 0 0;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    color: #615855;
}

.btn-purchase-now,
.lp-button{
    .btn-section-acion;
}

.btn-purchase-now:hover,
.lp-button:hover{
    color:  #ccc;
    background-color:  #736356;
    border-bottom: 3px solid #998675;
}

.btn-purchase-now:active{
    color:  #fff;
}

.latest-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: @latest-projects-padding-tb @latest-projects-padding-lr;
    box-sizing: border-box;
}

.lp-title{
    width: 100%;
    display: block;    
    margin-bottom: 24px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #555555;    
}

.lp-text{
    width: 100%;
    padding: 0 207px;
    margin-top: 0px;
    margin-bottom: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #8c8c8c;
}

.lp-menu{
    width: 100%;    
    margin-bottom: 40px;   
    text-align: center;
}

.lp-menu-btn{
    height: @lp-menu-height;
    margin-right: 10px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: @lp-menu-height;
    font-weight: 300;    
    color: #8c8c8c;
    text-transform: capitalize;
    border-radius: 3px;
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    outline: none;
}

.lp-menu-btn:nth-child(5){
    margin-right: 0;
}

.lp-menu-btn:hover{
    background-color: #998675;
    color: #ffffff;
}

.lp-menu-btn:active{
    color: #ffffff;
    background-color: @menu-color-active;    
}

.lp-article{
    width: 370px;
    position: relative;
    margin-bottom: 30px;
}

.lp-article-photo{
    width: 100%;
    display: block;
}

.lp-article-txt-wrapper {
    position: relative;
    background-color: #fbfaf8;
}

.lp-article-txt-wrapper:before {
    content: "";
    border: 14px solid transparent;	
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -24px;
    left: 25px;
}

.lp-article-title {
    display: block;    
    padding: 30px 0 14px 28px;
    box-sizing: border-box;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: left;
    color: #c7b299;
}

.lp-article-txt {
    display: block;    
    padding: 0 0 28px 28px;
    box-sizing: border-box;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #d1d1d1;
}

.lp-article-btn-link,
.lp-article-btn-search {
    width: 26px;
    height: 26px;
    display: none;
    position: absolute;
    top: 30%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    background-color: transparent;
    outline: none;
    border: none;    
}

.lp-article-btn-link {
    background-image: url(../img/lp-article-btn-link.png);
    left: 35%;
}

.lp-article-btn-search {
    background-image: url(../img/lp-article-btn-search.png);
    right: 35%;
}

.lp-article:hover .lp-article-btn-link,
.lp-article:hover .lp-article-btn-search{
    display: block;
}

.lp-article:hover .lp-article-btn-link:hover,
.lp-article:hover .lp-article-btn-search:hover{
    filter: brightness(40%);
}

.lp-article:hover .lp-article-photo {
    filter: brightness(80%);
}

.lp-article:hover .lp-article-txt-wrapper {
    background-color: #362f2d;
}

.lp-article:hover .lp-article-txt-wrapper:before {
    border-bottom: 10px solid #362f2d;
}

.lp-article:hover .lp-article-title{
    color: #ffffff;
}

.lp-article:hover .lp-article-txt{
    color: #c7b299;
}

.lp-button{
    margin: 0 auto;
}

.video-presentaion{
    position: relative;
}

.vp-desc{
    width: @vp-desc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    margin: 0;
}

.vp-btn-play{
    width: 70px;
    height: 70px;
    display: block;
    margin: 0 auto 44px;
    background-color: transparent;
    background-image: url(../img/icon-play.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    border: none;
    outline: none;    
}

.vp-btn-play:hover{
    filter: drop-shadow(0 0 1.75rem black);
}

.vp-title{
    display: block;
    margin-bottom: 30px;
    font-family: Raleway;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

.vp-text{
    max-width: 552px;
    margin-bottom: 40px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}

.vp-time{
    display: block;     
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #c7b299;
}

.video-play-desc-hide{
    display: none;
}